mixin videoListTemplate(info)
    a(href=`/video/${info.id}`).video-mixin
        if /^https?:\/\//.test(info.thumbUrl)
            img(src=info.thumbUrl crossorigin).video-mixin__thumb
        else
            img(src=`/${info.thumbUrl}`).video-mixin__thumb
        div.video-mixin__data
            span.video-mixin__title=info.title
            div.video-mixin__meta
                span #{info.owner.name} • 
                span #{info.meta.views} 회 
