mixin videoListTemplate(info)
    div
        h4=info.title 
        ul 
            li views: #{info.views}
            li #{info.comments} comments 
            li #{info.like} likes 
            li #{info.share} shares