mixin videoListTemplate(info)
    a(href=`/video/${info.id}`).video-mixin
        div.video-mixin__thumb(style=`background-image:url(${info.thumbUrl}); background-size:cover; background-position:center;`,crossorigin)
        div.video-mixin__data
            span.video-mixin__title=info.title
            div.video-mixin__meta
                span #{info.owner.name} • 
                span #{info.meta.views} 회 