extends layout

block content
    video(src="/"+video.videoUrl, controls)
    div
        h1=video.description 
        small=video.createdAt
    div 
        small uploaded by 
            a(href=`/user/${video.owner._id}`)=video.owner.name

    if String(video.owner._id) === String(loggedInUser._id) 
        a(href=`${video.id}/edit`) edit video &rarr;
        br
        a(href=`${video.id}/delete`) delete video &rarr;
    